.menu {
    border-bottom: 1px solid rgba(#D0D4D8, .5);
    &__list {
        display: flex;
        justify-content: center;
    }
    &__list-link {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        color: #909090;
        padding: 24px 10px 20px;
        margin: 0 6px;
        border-bottom: 4px solid transparent;
        transition: all .5s;
        &:hover {
            color: #4E5665;
            border-bottom: 4px solid #ECB84C;
        }
    }
    &__btn {
        display: none;
    }
}